<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe59rAFdRq6AfbTi8nADl3yFaGqZfma-M</string>
	<key>GCM_SENDER_ID</key>
	<string>413037787274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>task-manager-application-e4ffe</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-application-e4ffe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413037787274:ios:ef81435e3e4f8b85921573</string>
</dict>
</plist>